<html>
<head><style>

a.one:link    {color:#404D5B; background-color:transparent; text-decoration:underline}
a.one:visited {color:pink; background-color:transparent; text-decoration:underline}
a.one:hover   {color:red; background-color:transparent; text-decoration:underline}
a.one:active  {color:yellow; background-color:transparent; text-decoration:underline}

</style></head>
<body>
<div align="center">
<img src="../public/image/contact.jpeg"><br><br>
 <u>Contact Us</u><br><br>
  Address: Room 1003, 10/F<br>
  VTC Tower, 27 Wood Road,<br>
  Wan Chai, HK<br>

<br>
     <u>Telephone</u><br><br>
     +852 2888 8888<br>
 <a href='mailto:305cdejoe@gmail.com'>Email: 305cdejoe@gmail.com</a>

</div>

</body>
</html>
