
<style>


img {
    max-width: 100%;
    max-height: 100vh;
    height: auto;
}

header h1 {
	font-size: 5em;
	font-weight: light;
	color: #BC9B5D;
	font-family: 'Rajdhani';
	  line-height: 0.3;
}
</style>
<div>

	<img src="../public/image/aboutdrugabuse.jpg">
<h1>Drug Abuse<br></h1>
<br>Learn more about drug abuse and obtain anti-drugs education materials here.<br><br><br><br>


<p>
	<b>What are the consequences of abusing drugs?</b>
<br>Each drug has its own potential risks, and the risks can be potentiated by impurities or adulterants, and the unique reaction of each individual user. Drugs offered in the illicit market are not always what they are claimed to be. The buyer can rarely be sure of the content or the strength of the substance. If illicitly manufactured, the substances are likely to contain impurities or adulterants. It is also noteworthy that taking drugs with alcohol is even more dangerous and can be fatal.
</p>
<br>
<p>
<b>What will happen if taking more than one kind of drug at a time?</b><br>
Taking more than one drug all at a time is extremely dangerous because even small doses of each may prove fatal. Complex interactions can occur among various types of drugs and increase the risk of a harmful or fatal outcome.
</p>
<br>
<p>
<b>Is it true that it is less harmful to abuse psychotropic substances?</b><br>
Absolutely NOT! Frequent use of psychotropic substances in high doses and for a long time is likely to distort an individual's perception of and response to environment. Even in moderate doses, most psychotropic substances impair motor control, reaction time, and the ability to maintain attention. Drug users are likely to be a hazard to themselves and to others when operating machinery or a motor vehicle, or crossing roads, etc.
</p>
<br>
<p>
<b>Can drug abuse make you happy?</b><br>
No! Many drugs amplify mood, so if someone is angry, anxious, or depressed, drugs could make that person feel even worse. Even drugs that are thought to have a calming effect (like alcohol and tranquillizers) can release aggressive impulses. They can also weaken one's social and personal inhibitions, causing one to act in a manner he will later regret. Violence causing serious injuries or deaths to the abusers or others, sexual offences and date rape are often involved with the taking of drugs.
</p>
<br>
<p>
<b>Are drugs addictive?</b><br>
Yes! Drugs not only alter behaviour, but also create physical and psychological dependence to varying degrees. Physical dependence causes withdrawal symptoms when the drug is discontinued. Psychological dependence causes a craving for the drug to ease the abuser's mind. Tolerance to drugs frequently develops so that higher doses are required to satisfy the craving or suppress the withdrawal symptoms. As a user becomes drug-dependent, he needs a constant supply of cash, and may resort to serious crimes to support his habit. Some may eventually die of overdose.
</p>
<br>
</div>
