<style>
#left_column {
  width: 200px;
  float: left;
  font-size: 20px;
}
#right_column {
  margin-left: 200px;
    font-size: 20px;
}
.Row
{
 position: relative;
    display: table;
        width: 100%; /*Optional*/
    table-layout: fixed; /*Optional*/
    border-spacing: 10px; /*Optional*/
}
</style>

<div id="left_column">
	<p><u>Substance</u></p>
	<div align="left" class="Row"><p>Heroin<br><img src="../public/image/Heroin.jpg" height="100" width="130"><br><br>Dipipanone (Wellconal) <img src="../public/image/Wellconal.jpg" height="100" width="160"></p></div>
	<div align="left" class="Row"><p>Methadone <img src="../public/image/Methadone.jpg" height="100" width="130"></p></div>
	<div align="left" class="Row"><p>Physeptone<img src="../public/image/Physeptone.jpg" height="100" width="130"></p></div>
		<div align="left" class="Row"><p>Morphine Ampoules <img src="../public/image/Morphine.jpg" height="100" width="130"></p></div>
			<div align="left" class="Row"><p>Opium <br><img src="../public/image/opium.png" height="100" width="130"> </p></div>
</div>

<div id="right_column">
<p><u>Effect and Danger</u></p>
	<ul style="font-size:30px";>
    <br>
	<li>Dependence</li>
	<li>Drowsiness </li>
	<li>Respiratory depression </li>
	<li>Nausea </li>
	<li>Withdrawal syndrome: watery eyes, runny nose, yawning, loss of appetite, irritability, tremors, panic, chills, sweating, cramps</li>
</ul>
</div>
