
<style>
#left_column {
  width: 200px;
  float: left;
}

#right_column {
  margin-left: 200px;
}

.Row
{
 position: relative;
    display: table;
        width: 100%; /*Optional*/
    table-layout: fixed; /*Optional*/
    border-spacing: 10px; /*Optional*/
		border-bottom: 1px solid black;
		border-right: 1px solid black;
		border-left: 1px solid black;
}
</style>
<div id="left_column">
	<p align="center"><u>Rehabilitation Centres</u></p>
	<div align="left" class="Row"><p>Caritas HUGS Centre</p><br></div>
	<div align="left" class="Row"><p>Hong Kong Lutheran Social Service Cheer Lutheran Centre</p></div>
	<div align="left" class="Row"><p>Hong Kong Lutheran Social Service Evergreen Lutheran Centre</p></div>
		<div align="left" class="Row"><p>Hong Kong Christian Service PS33 - Shamshuipo Centre</p></div>
			<div align="left" class="Row"><p>The Evangelical Lutheran Church of Hong Kong, Enlighten Centre</p></div>
			<div align="left" class="Row"><p>Hong Kong Christian Service PS33 - Tsimshatsui Centre</p></div>
			<div align="left" class="Row"><p>Tung Wah Group of Hospitals CROSS Centre : Eastern and Wanchai Office</p></div>
</div>

<div id="right_column">
	<p align="center"><u>Address and Contact Information</u></p>
	<div align="left" class="Row"><p>Unit 41-44, G/F, Hing Shing House, Tai Hing Estate, Tuen Mun, N.T.&nbsp;&nbsp;&nbsp; <a class="one" href="/map" onclick="window.open('/map', 'newwindow', 'width=500,height=600');return false;">Show map <img src="../public/image/mapicon.png" height="20" width="30"></a>
<br>Phone: 852-24537030 </p></div>
	<div align="left" class="Row"><p>G/F, Ching Chung House, Ching Ho Estate, Sheung Shui, N.T.&nbsp;&nbsp;&nbsp; <a class="one" href="/map" onclick="window.open('/map1', 'newwindow', 'width=500,height=600');return false;">Show map <img src="../public/image/mapicon.png" height="20" width="30"></a><br>Phone: 852-26600400</p><br></div>
	<div align="left" class="Row"><p>2 Horse Shoe Lane, Kwun Tong, Kowloon&nbsp;&nbsp;&nbsp; <a class="one" href="/map" onclick="window.open('/map2', 'newwindow', 'width=500,height=600');return false;">Show map <img src="../public/image/mapicon.png" height="20" width="30"></a><br>Phone: 852-27120097<br><br></p></div>
	<div align="left" class="Row"><p>Unit 11-16, G/F, Nam Yiu House, Nam Shan Estate, Sham Shui Po, Kowloon&nbsp;&nbsp;&nbsp; <a class="one" href="/map3" onclick="window.open('/map3', 'newwindow', 'width=500,height=600');return false;">Show map <img src="../public/image/mapicon.png" height="20" width="30"></a><br>Phone: 852-35720673<br><br></p></div>

	<div align="left" class="Row"><p>Unit 102, 1/F, Amenity and Community Building, Tin Ching Estate, Yuen Long&nbsp;&nbsp;&nbsp; <a class="one" href="/map" onclick="window.open('/map4', 'newwindow', 'width=500,height=600');return false;">Show map <img src="../public/image/mapicon.png" height="20" width="30"></a><br>Phone: 852-24469226</p><br></div>
	<div align="left" class="Row"><p>33 Granville Road, Tsim Sha Tsui, Kowloon&nbsp;&nbsp;&nbsp; <a class="one" href="/map" onclick="window.open('/map5', 'newwindow', 'width=500,height=600');return false;">Show map <img src="../public/image/mapicon.png" height="20" width="30"></a><br>Phone: 852-23688269</p><br></div>
	<div align="left" class="Row"><p>9/F, TWGHs Fong Shu Chuen Social Service Building, 6 Po Man Street, Shau Kei Wan, Hong Kong&nbsp;&nbsp;&nbsp; <a class="one" href="/map" onclick="window.open('/map6', 'newwindow', 'width=500,height=600');return false;">Show map <img src="../public/image/mapicon.png" height="20" width="30"></a><br>Phone: 852-288402827<br><br></p></div>

<br>
<br>
</div>
