
<style>
.modal {
  background-color: rgba(0,0,0,0.4);
}
.modal-header {
  border-bottom: 1px solid #505050;
  padding: 12px 16px 6px 16px;
  .modal-title {
    color: #ccc;

    margin: 0;
  }
  .close {
    font-size: 32px;
    opacity: 1.0;
    color: #ccc;
    text-shadow: none;
    outline: none;
  }
}
.modal-content {
  border-radius:0;
  border: 0;
  background-color: #323232;
}
.img-responsive { width: 100%; }
button.btn-play {
  position: absolute;
  top: 0;
  bottom: 0;
  padding: 0;
  margin: 0;
  margin-left: -15px;
  border: 0;
  border-radius: 0;
  outline: 0 !important;
  width: 100%;
  background-color: transparent;
  color: rgba(245, 245, 245, 0.8);
  &:hover, &:active, &:visited, &:focus {
    color: rgba(255, 255, 255, 1.0);
  }
  .glyphicon {
    padding: 0;
    margin: 0;
    color: inherit;
    background-color: inherit;
    font-size: 64px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  button.btn-play {
    .glyphicon {
      font-size: 56px;
    }
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  button.btn-play {
    .glyphicon {
      font-size: 46px;
    }
  }
}
@media (max-width: 767px) {
  a.video {
    display: block;
  }
   button.btn-play {
    .glyphicon {
      font-size: 56px;
    }
  }
}
</style>

      <div class="container">
          <h3 class="page-header" id="youtube-gallery">Videos of the Day<p style="font-size:15px">You may search other videos about drug free campaign <a class="one" href="videosearch" onclick="window.open('videosearch', 'newwindow', 'width=900,height=700');return false;">here</a>.</p></h3>
          <div class="row">
            <a href="https://www.youtube.com/watch?v=U7oBrgO9ES0"
            target="_blank"
               data-title="Boss: Capra Demon"
               data-width="1024"
               data-toggle="lightbox" data-gallery="youtubevideos" class="col-sm-4 video">
              <button type="button" class="btn btn-play">
                <span class="glyphicon glyphicon-play" aria-label="Play"></span>
              </button>
              <img src="https://img.youtube.com/vi/U7oBrgO9ES0/mqdefault.jpg" class="img-responsive">
              Quit Drugs Now
            </a>
            <a href="https://www.youtube.com/watch?v=Ci35L4_1j9c"
            target="_blank"
               data-title="Boss: Ornstein & Smough"
               data-width="1024"
               data-toggle="lightbox" data-gallery="youtubevideos" class="col-sm-4 video">
              <button type="button" class="btn btn-play">
                <span class="glyphicon glyphicon-play" aria-label="Play"></span>
              </button>
              <img src="//i1.ytimg.com/vi/Ci35L4_1j9c/mqdefault.jpg" class="img-responsive">
              Positivity defeats drugs
            </a>
            <a href="https://www.youtube.com/watch?v=6w4xJzmnfJU"
            target="_blank"
               data-title="Boss: Demon Firesage"
               data-width="1024"
               data-toggle="lightbox" data-gallery="youtubevideos" class="col-sm-4 video">
              <button type="button" class="btn btn-play">
                <span class="glyphicon glyphicon-play" aria-label="Play"></span>
              </button>
              <img src="//i1.ytimg.com/vi/6w4xJzmnfJU/mqdefault.jpg" class="img-responsive">
              Seek Help Early
            </a>
          </div>
          <div class="row">
            <br><br><br>
            <a href="https://www.youtube.com/watch?v=Rnum2n1Z-kw"
            target="_blank"
               data-title="Boss: Demon Firesage"
               data-width="1024"
               data-toggle="lightbox" data-gallery="youtubevideos" class="col-sm-4 video">
              <button type="button" class="btn btn-play">
                <span class="glyphicon glyphicon-play" aria-label="Play"></span>
              </button>
              <img src="//i1.ytimg.com/vi/Rnum2n1Z-kw/mqdefault.jpg" class="img-responsive">
              Anti Drug Commercial
            </a>
            <a href="https://www.youtube.com/watch?v=-kz8IMWdHzs"
            target="_blank"
               data-title="Boss: Demon Firesage"
               data-width="1024"
               data-toggle="lightbox" data-gallery="youtubevideos" class="col-sm-4 video">
              <button type="button" class="btn btn-play">
                <span class="glyphicon glyphicon-play" aria-label="Play"></span>
              </button>
              <img src="//i1.ytimg.com/vi/-kz8IMWdHzs/mqdefault.jpg" class="img-responsive">
              Seek Help Early
            </a>
            <a href="https://www.youtube.com/watch?v=nkMhiS2XveQ"
              target="_blank"
               data-title="Boss: Demon Firesage"
               data-width="1024"
               data-toggle="lightbox" data-gallery="youtubevideos" class="col-sm-4 video">
              <button type="button" class="btn btn-play">
                <span class="glyphicon glyphicon-play" aria-label="Play"></span>
              </button>
              <img src="//i1.ytimg.com/vi/nkMhiS2XveQ/mqdefault.jpg" class="img-responsive">
              Friends
            </a>
          </div>
          <br><br>
        </div>
